{% layout "layout.liquid"%} {% block content %}
<a href="/entry"><button class="show-button">Home</button></a>
<a href="/entry/{{ item._id }}/jornal"
  ><button class="show-button">add entry</button></a
>
<article>
  <img src="{{ item.img }}" alt="{{ item.name }}" />
  <h2>{{ item.name }}</h2>
  <h3>${{ item.price }}</h3>
  <h4>Item type:{{ item.type | upcase }}</h4>
  <h5>
    {{ item.description }}
  </h5>

  <p>Posted at: {{ item.createdAt | date: "%a, %b %d, %y" }}</p>
  <div class="btn">
    <a href="/entry/{{ item._id }}/edit"
      ><button class="show-button">edit item</button></a
    >

    <form action="/entry/{{ item._id }}?_method=DELETE" method="post">
      <input class="show-button" type="submit" value="DELETE" />
    </form>
  </div>

  <p>
    {% for item in item.jornal %}
    {{ item }}
    {% endfor %}
  </p>
</article>

{% endblock %}
